<% @students.each do |student| %>
  
  <p>Student name is <%= student.first_name() %> <%= student.last_name() %></p>
  <p>House: <%= student.house.house_name %></p>
  <p>Age: <%= student.age %></p>
  <hr>

<% end %>